doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='https://members-only-media.s3.amazonaws.com/images/icons/members-only-icon.svg')
  body
    .content-container
      block content
      footer.footer
        img(src='https://members-only-media.s3.amazonaws.com/images/icons/github-icon.svg' class='github-icon')
        .github-profile-container
          span Created by
          a(href='https://github.com/Drew-Daniels') Drew Daniels
