/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
My styling
*/
* > {
  box-sizing: border-box;
}

html, body, button {
  font-family: 'Roboto', sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 1em 0;
  color: red;
  background-color: purple;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  padding-top: 1em;
  background-color: green;
}

.footer > * {
  padding-bottom: 0.25em;
}

.github-profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.github-profile-container > * {
  padding-right: 0.25em;
}

.github-icon {
  height: 2em;
}
.header-main-container {
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  background-color: blue;
  flex-grow: 1;
}
.header-main-image {

}
.header-main-text {
  font-size: 3em;
  font-weight: 900;
}
.header-options-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
}
.btn-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn-option {
  margin: 0 .5em;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.welcome-intro-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  justify-content: center;
  align-content: center;
}
.welcome-intro {
  text-align: center;
  font-size: 2em;
}
.welcome-enter-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 70%;
}
.btn-enter {
  font-size: 2em;
}
.techStackItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techStackItem {
  margin-top: 1em;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.message {
  width: 50vw;
  margin-bottom: 1em;
}
.message-metadata-container {
  display: flex;
  background-color: red;
  border-radius: 1em 1em 0 0;
  padding: 1em;
}
.message-avatar {
  height: 2em;
  margin-right: 1em;
}
.message-content-container {
  background-color: green;
  padding: 1em;
}
.message-title {
  font-size: 1em;
}
.message-body {
  font-size: .8em;
}
.message-timestamp-container {
  background-color: blue;
  border-radius: 0 0 1em 1em;
  padding: 1em;
}
.message-timestamp {
  text-align: right;
}
.message-username-container {
  display: flex;
  align-items: center;
}
.message-username {
  font-weight: 700;
  font-size: 1.5em;
}